@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inconsolata', monospace;
}

header {
  margin-left: 2rem;
  margin-top: 4rem;
  margin-right: 2rem;

  h1 {
    font-size: 2rem;
    font-weight: 700;
    color: #07415a;
  }
}

main {
  margin-left: 4rem;
  margin-right: 4rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  .left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .title {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      h2 {
        font-size: 1rem;
        font-weight: 700;
        color: #07415a;
      }

      #reload {
        margin-left: 1rem;
        padding: 0.5rem;
        font-size: 1rem;
      }
    }

    .display {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 200px;
      overflow-y: scroll;
      border: 3px solid #101010;
      margin-top: 1.5rem;

      .scores {
        list-style-type: none;
        padding: 0;

        & li {
          font-size: 1.5rem;
          text-transform: capitalize;
          font-weight: 400;
        }

        & li:nth-child(even) {
          background-color: #347e9d;
        }
      }
    }
  }
  // Add your score
  .right {
    margin-top: 2rem;

    h3 {
      font-size: 1.5rem;
      font-weight: 700;
      color: #07415a;
    }

    input {
      display: block;
      margin-top: 1rem;
      width: 100%;
      font-size: 1.25rem;
      line-height: 1rem;
      padding: 0.25rem 0.5rem 0.25rem;
      border-top: 0;
      border-left: 0;
      border-right: 0;
    }
  }
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  text-align: center;
  color: aliceblue;
  background-color: #0c648a;
  padding: 0.5rem;

  a {
    text-decoration: none;
    color: aliceblue;
  }
}

button {
  margin-top: 1rem;
  float: right;
  box-shadow: inset 0 1px 0 0 #bbdaf7;
  background: linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
  background-color: #79bbff;
  border-radius: 6px;
  border: 1px solid #84bbf3;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  font-family: 'Inconsolata', monospace;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0 1px 0 #528ecc;

  &:hover {
    background: linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
    background-color: #378de5;
  }
}

@media (min-width: 768px) {
  header {
    margin-left: 4rem;
    margin-right: 4rem;

    h1 {
      margin-top: 1rem;
      font-size: 4rem;
    }
  }

  main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    // Recent Scores
    .left {
      width: 45%;

      .title {
        h2 {
          font-size: 2.25rem;
        }

        .refresh {
          font-size: 1.25rem;
        }
      }

      .display {
        display: block;
        height: 300px;
        overflow-y: scroll;

        .scores {
          li {
            list-style: none;
            font-size: 1.75rem;
            padding: 0.5rem;
          }
        }
      }
    }

    .right {
      margin-top: 0;
      width: 45%;

      h3 {
        font-size: 2.25rem;
      }

      input {
        line-height: 2rem;
        padding: 0.25rem 0.5rem 0.25rem;
      }

      .submit {
        font-size: 1.25rem;
      }
    }
  }
}
